<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA_Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Rainy season | No Matter Weather</title>
    <style>
        body {
            font-family: "Itim", cursive;
            background-color: rgb(55,86,115);
        }
        .recipe-card {
            margin: 10px;
            border-radius: 20px;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px
        }
    </style>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">No Matter Weather</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link  active" aria-current="page" href="/cloths">Weather</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</header>

    <center style="padding-top:10px;"><img src="https://cdn-icons-png.flaticon.com/128/3314/3314005.png" ></center>
    <br>
    <div class="card recipe-card p-3"> <!-- ใช้ p-1 เพื่อลด padding -->
        <h2 class="text-start">ฟ้าครึ้ม มืดมน มืดดำ เหงาหงอย</h2>
        <h3 class="text-start">ฟ้าฝนไม่เป็นใจแบบนี้ จะกินอะไรดีนะ</h3>
      </div>
      <div class="container my-3">
        <div class="row g-0"> <!-- เพิ่ม g-0 เพื่อกำจัดการจัดระยะห่าง -->
            <div class="col-4"> <!-- ใช้ col-3 เพื่อให้มี 4 กล่องในแถว -->
                <div class="card recipe-card">
                    <img src="https://img.kapook.com/u/2015/surauch/Cook/rainy-3.jpg" class="card-img-top" style="border-radius: 20px;">
                    <div class="card-body">
                        <h3 class="card-title"><b>1. ซุปขิง</b></h3>
                        <h4>ส่วนผสม</h4>
                        <h5>• ขิงอ่อน ปอกเปลือกซอยบาง 3 ถ้วย</h5>
                        <h5>• มันฝรั่งหั่นเต๋า 3  ถ้วย</h5>
                        <h5>• หอมหัวใหญ่สับ 1/2 ต้น</h5>
                        <h5>• หอมฝรั่งซอย 1 ถ้วย </h5>
                        <h5>• ไวน์ขาว 1/4 ถ้วย</h5>
                        <h5>• วิปปิ้งครีมสด 1/2 ถ้วย</h5>
                        <h5>• น้ำสต๊อกไก่ 6 ถ้วย</h5>
                        <h5>• เกลือ 1 1/2  ช้อนชา</h5>
                        <h5>• น้ำมันมะกอกสำหรับผัด 3 ช้อนโต๊ะ</h5>
                        <h5>• อาหารทะเลสด 2 ถ้วย</h5>
                        <h5>• พริกไทยดำป่น เล็กน้อย</h5>
                        <h5>• ผักชี (ตกแต่ง)</h5>
                        <h4>วิธีทำ</h4>
                        <h5>1. อุ่นน้ำสต๊อกให้เดือดแล้วใส่อาหารทะเลลงลวกจนสุก ตักขึ้นพักไว้</h5>
                        <h5>2. ผัดหัวหอมสับกับน้ำมันมะกอกด้วยไฟอ่อนจนสุกและใส จึงใส่ขิง ต้นหอม พริกไทย และมันฝรั่ง ลงไปผัดสักครู่จนเริ่มสุกนิ่ม เติมไวน์ขาวลงไปแล้วเร่งไฟขึ้น ผัดต่ออีกประมาณ 1 นาที เติมน้ำสต๊อกที่ลวกเนื้อสัตว์เมื่อครู่ลงไป ลดไฟลงเป็นไฟกลางค่อนไปทางอ่อน ต้มส่วนผสมจนมันฝรั่งนิ่ม ปิดไฟ พักไว้ให้เย็น </h5>
                        <h5>3. นำส่วนผสมที่ผัดไว้และเย็นแล้วใส่ลงในเครื่องปั่น ปั่นจนได้ซุปเนื้อละเอียดเนียนดี เทกรองผ่านกระชอน ใช้ทัพพียีส่วนผสมซุปให้ผ่านกระชอนลงไปมากที่สุด</h5>
                        <h5>4. เทซุปที่ได้กลับใส่หม้อ ยกขึ้นตั้งไฟกลาง ต้มให้ร้อนอีกครั้ง เมื่อส่วนผสมร้อนแล้วปิดไฟ เติมครีมสด คนพอเข้ากัน ตักซุปใส่ถ้วยแล้วใส่เครื่องทะเลที่ลวกไว้ลงไป โรยด้วยผักชี พร้อมเสิร์ฟ</h5>
                    </div>
                </div>
            </div>
    
            <div class="col-4"> 
                <div class="card recipe-card">
                    <img src="https://img.kapook.com/u/2015/surauch/Cook/rainy-1-1.jpg" class="card-img-top" style="border-radius: 20px;">
                    <div class="card-body">
                        <h3 class="card-title"><b>2. แกงเลียง</b></h3>
                        <h4>ส่วนผสม</h4>
                        <h5>• พริกไทยดำ 1 1/2 ช้อนชา</h5>
                        <h5>• กระชาย 1-2 แง่ง</h5>
                        <h5>• หอมแดง 3-4 หัว</h5>
                        <h5>• กะปิ 1 ช้อนชา</h5>
                        <h5>• กุ้งแห้งป่นละเอียด 1/3 ถ้วย</h5>
                        <h5>• น้ำซุปไก่ 3 ถ้วย</h5>
                        <h5>• บวบ หั่นเป็นชิ้นพอคำ 150 กรัม</h5>
                        <h5>• ฟักทอง หั่นเป็นชิ้นพอคำ 200 กรัม</h5>
                        <h5>• ซูกินี หั่นเป็นชิ้นพอคำ 150 กรัม</h5>
                        <h5>• ข้าวโพดอ่อน หั่นสไลซ์ 150 กรัม</h5>
                        <h5>• เห็ดกระดุม 150 กรัม</h5>
                        <h5>• กุ้งสด 200 กรัม</h5>
                        <h5>• ใบแมงลัก 80 กรัม</h5>
                        <h5>• น้ำปลา (ปรุงรส)</h5>
                        <h4>วิธีทำ</h4>
                        <h5>1. เตรียมเครื่องแกงก่อน โดยโขลกพริกไทยกับกระชายแล้วใส่หอมแดงลงไปโขลกให้ละเอียด ตามด้วยกะปิ โขลกรวมกัน จากนั้นจึงใส่กุ้งแห้งป่นลงไปโขลกรวมกันอีกครั้งให้ละเอียดเป็นอันเรียบร้อย</h5>
                        <h5>2. ใส่น้ำซุปไก่ลงในหม้อ ต้มให้เดือดแล้วใส่เครื่องแกงลงไป </h5>
                        <h5>3. พอน้ำแกงเดือดก็ใส่ผักที่สุกยากลงไปก่อน ต้มพอเดือดอีกครั้งจึงใส่ผักที่เหลืออื่น ๆ ลงไป (จริง ๆ ขึ้นอยู่กับการหั่นด้วยนะคะ อย่างฟักทองนี้แม่ปูหั่นชิ้นเล็กก็จะสุกไวค่ะ) พอน้ำเดือดปุ๊บก็ใส่บวบ ฟักทองอ่อน ซูกินีและเห็ดลงไป</h5>
                        <h5>4. พอน้ำแกงเดือดอีกครั้งก็ใส่กุ้งสดลงไป ปรุงรสด้วยน้ำปลาตามชอบ ชิมรส</h5>
                        <h5>5. พอส่วนผสมเดือดอีกครั้งก็ใส่เสน่ห์ของแกงเลียงลงไป คือใบแมงลักนั่นเอง</h5>
                        <h5>6. ตักเสิร์ฟร้อน ๆ ซดน้ำให้ชุ่มคอชื่นใจ หวัดหายสบายดี </h5>
                    </div>
                </div>
            </div>
    
            <div class="col-4"> 
                <div class="card recipe-card">
                    <img src="https://img.kapook.com/u/2015/surauch/Cook/rainy-8.jpg" class="card-img-top" style="border-radius: 20px;">
                    <div class="card-body">
                        <h3 class="card-title"><b>3. น้ำหมักผลไม้</b></h3>
                        <h4>ส่วนผสม</h4>
                        <h5>• ผลไม้ตามชอบ</h5>
                        <h5>• น้ำแข็ง</h5>
                        <h5>• น้ำแร่ หรือน้ำสะอาด</h5>
                        <h5>• ขวดหรือกระบอก</h5>
                        <h4>วิธีทำ</h4>
                        <h5>1. นำผักหรือผลไม้ที่ชอบมาล้างให้สะอาด แล้วนำมาหั่นเป็นชิ้นเล็ก ๆ เด็ดผักเป็นใบหรือทั้งก้านตามสะดวก (ให้ใส่ขวดได้เป็นพอ) </h5>
                        <h5>2. นำผักและผลไม้ใส่ลงขวดหรือกระบอกที่เตรียมไว้ ใช้ช้อนยาว ๆ บี้นิดหน่อยให้น้ำผลไม้และน้ำมันหอมระเหยของผักออกมา ใส่น้ำแข็งลงไป ตามด้วยน้ำสะอาด ปิดฝา นำไปแช่เย็น หมักขั้นต่ำ 1 ชั่วโมง ในกรณีต้องการดื่มแบบเย็นสะใจ แช่ไม่นาน (แต่ถ้าต้องการหมักข้ามวัน ไม่จำเป็นต้องใส่น้ำแข็งค่ะ)  </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

<center><footer style="background-color: rgba(33,37,41,255); padding: 10px; text-align: center;">
      <h5 style="color:White">ช่องทางติดต่อ admin</h5>
      <p>
          <a href="https://www.facebook.com/profile.php?id=100012146138076" style="color: white;">Facebook</a> |
          <a href="https://www.instagram.com/rrrra_wipat_/" style="color: white;">Instragram</a>
      <p>
      <p style="color:White">Copyright 2024 No Matter Weather. All right reserved.</p>
</footer>
</body>
</html>