<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Summer | No Matter Weather</title>
    <style>
        body {
            font-family: "Itim", cursive;
            background-color: rgba(228, 113, 90, 255);
        }
        .recipe-card {
            margin: 10px;
            border-radius: 20px;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px
        }
    </style>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Clothguide</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/cloths">Weather</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>


    <center style="padding-top:10px;"><img src="https://cdn-icons-png.flaticon.com/128/66/66275.png"></center>
    <br>
    <div class="card recipe-card p-3"> <!-- ใช้ p-1 เพื่อลด padding -->
      <h2 class="text-start">ฟ้าแจ่มใส แดดออก แดดแรง ไม่เกรงใจใคร</h2>
      <h3 class="text-start">อากาศร้อนๆแบบนี้ จะกินอะไรดีนะ?</h3>
    </div>
    <div class="container my-3">
      <div class="row g-0"> <!-- เพิ่ม g-0 เพื่อกำจัดการจัดระยะห่าง -->
          <div class="col-3"> <!-- ใช้ col-3 เพื่อให้มี 4 กล่องในแถว -->
              <div class="card recipe-card">
                  <img src="https://img.kapook.com/u/2022/wanwanat/1104609044_1.jpg" class="card-img-top" style="border-radius: 20px;">
                  <div class="card-body">
                      <h3 class="card-title"><b>1. สลัดผลไม้น้ำผึ้งมะนาวมินต์</b></h3>
                      <h4>ส่วนผสม</h4>
                      <h5>• แตงโมหั่นเต๋า 5 ถ้วย</h5>
                      <h5>• แคนตาลูปหั่นเต๋า 5 ถ้วย</h5>
                      <h5>• เมลอนหั่นเต๋า 5 ถ้วย</h5>
                      <h5>• สับปะรดหั่นเต๋า 3+1/2 ถ้วย</h5>
                      <h5>• น้ำผึ้ง 1/3 ถ้วย</h5>
                      <h5>• น้ำมะนาว 1/4 ถ้วย</h5>
                      <h5>• ใบมินต์สับ 1/4 ถ้วย</h5>
                      <h4>วิธีทำ</h4>
                      <h5>1. ใส่ผลไม้ลงอ่างผสม เตรียมไว้</h5>
                      <h5>2. คนผสมน้ำผึ้ง น้ำมะนาว และใบมินต์จนเข้ากัน เทใส่ลงในผลไม้ที่เตรียมไว้ จัดเสิร์ฟ</h5>
                  </div>
              </div>
          </div>
  
          <div class="col-3"> 
              <div class="card recipe-card">
                  <img src="https://img.kapook.com/u/2018/surauch/cooking/co1/hot14.jpg" class="card-img-top" style="border-radius: 20px;">
                  <div class="card-body">
                      <h3 class="card-title"><b>2. บิงซูเมลอนแตงโม</b></h3>
                      <h4>ส่วนผสม</h4>
                      <h5>• นมสด 250 กรัม</h5>
                      <h5>• วิปปิ้งครีม 250 กรัม</h5>
                      <h5>• น้ำเชื่อม 250 กรัม (น้ำตาลทราย 3 ช้อนโต๊ะ)</h5>
                      <h5>• แตงโม ตักเป็นลูกกลม</h5>
                      <h5>• เมลอน (พันธุ์โกลเด้นฮันนี่) ตักเป็นลูกกลม</h5>
                      <h4>วิธีทำ</h4>
                      <h5>1. ใส่วิปปิ้งครีม น้ำเชื่อม และนมสดลงในเหยือก คนผสมให้เข้ากัน เทส่วนผสมนมใส่พิมพ์น้ำแข็ง นำไปแช่ช่องแข็งจนกลายเป็นน้ำแข็ง</h5>
                      <h5>2. แกะน้ำแข็งออกจากพิมพ์ นำไปใส่ในเครื่องทำน้ำแข็งไส เปิดเครื่องแล้วไสออกมาใส่ในถ้วยเมลอนแช่แข็ง</h5>
                      <h5>3. เรียงเมลอนบนเกล็ดน้ำแข็งให้สวยงาม โรยอัลมอนด์สไลซ์ เพิ่มความอร่อยด้วยนมข้นหวาน</h5>
                  </div>
              </div>
          </div>
  
          <div class="col-3"> 
              <div class="card recipe-card">
                  <img src="https://www.scasset.com/stocks/blog_list/uploads/2021/04/5-1-1024x686.jpg" class="card-img-top" style="border-radius: 20px;">
                  <div class="card-body">
                      <h3 class="card-title"><b>3. ไอศกรีมแท่งผลไม้สด</b></h3>
                      <h4>ส่วนผสม</h4>
                      <h5>• น้ำผลไม้ตามชอบ</h5>
                      <h5>• ผลไม้ชิ้นตามชอบ</h5>
                      <h5>• แบบพิมพ์ทำไอศกรีม</h5>
                      <h5>• ไม้ไอศกรีม</h5>
                      <h4>วิธีทำ</h4>
                      <h5>1. เรียงผลไม้ชิ้นเล็กๆ พอดีคำ ใส่ผลไม้ลงในพิมพ์</h5>
                      <h5>2. จากนั้นเทน้ำผลไม้ลงไปในแบบพิมพ์จนเต็มแม่พิมพ์ พร้อมเสียบไม้ไอศกรีม</h5>
                      <h5>3. นำไปแช่ช่องแข็งประมาณ 5 ชั่วโมง แกะออกจากพิมพ์ พร้อมเสิร์ฟ</h5>
                  </div>
              </div>
          </div>
  
          <div class="col-3"> 
              <div class="card recipe-card">
                  <img src="https://www.pholfoodmafia.com/wp-content/uploads/2020/07/3Japanese-Chilled-Tofu.jpg" class="card-img-top" style="border-radius: 20px;">
                  <div class="card-body">
                      <h3 class="card-title"><b>4. เต้าหู้เย็นญี่ปุ่น</b></h3>
                      <h4>ส่วนผสม</h4>
                      <h5>• เต้าหู้คินุ 300 กรัม</h5>
                      <h5>• ขิงบด (บีบน้ำออก) 2 ช้อนโต๊ะ</h5>
                      <h5>• ต้นหอมซอย 2 ช้อนโต๊ะ</h5>
                      <h5>• ปลาโอแห้ง 3 กรัม</h5>
                      <h5>• โชยุ 1 ช้อนโต๊ะ</h5>
                      <h4>วิธีทำ</h4>
                      <h5>1. นำเต้าหู้คินุออกจากกล่อง แล้วนำไปล้างน้ำเปล่า วางจานทับไว้ด้านบนของเต้าหู้ หาอะไรหนัก ๆ มาทับไว้ประมาณ 30 นาที</h5>
                      <h5>2. นำใส่จานแล้วหั่นเป็นสี่เหลี่ยมลูกเต๋า</h5>
                      <h5>3. วางขิงบดลงไป แล้วโรยด้วยต้นหอมซอย ปลาโอแห้ง ปิดท้ายด้วยราดโชยุลงไป แค่นี้ก็พร้อมเสิร์ฟแล้วค่ะ</h5>
                  </div>
              </div>
          </div>
      </div>
  </div>
  
<center>
<footer style="background-color: rgba(33, 37, 41, 255); padding: 10px; text-align: center;">
    <h5 style="color: White">ช่องทางติดต่อ admin</h5>
    <p>
        <a href="https://www.facebook.com/profile.php?id=100012146138076" style="color: white;">Facebook</a> |
        <a href="https://www.instagram.com/rrrra_wipat_/" style="color: white;">Instragram</a>
    </p>
    <p style="color: White">Copyright 2024 No Matter Weather. All rights reserved.</p>
</footer>
</center>
</body>
</html>
