<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA_Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Rainy | Clothguide</title>
    <style>
      body{
        font-family: 'Noto Sans Thai', sans-serif;
      }
    </style>
    <title>Clothguide</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Clothguide</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/cloths">Weater</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</header>
<div class="my-3 mx-3">
    <center><img src="https://cdn-icons-png.flaticon.com/128/3314/3314005.png" ></center>
    <br>
    <h2>ฟ้าครึ้ม มืดมน มืดดำ เหงาหงอย</h2>
    <h4>ฟ้าฝนไม่เป็นใจแบบนี้ จะแต่งตัวยังไงดีนะ?</h4>
    <hr>
    <h4><b>Tips :</b></h4>
       <h5>- ผ้าที่เบาสบาย + แห้งไว ทำให้เคลื่อนไหวคล่องตัว</h5>
       <h5>- สวมรองเท้าแนวเปิดเท้าแต่ทะมัดทะแมง</h5>
       <h5>- รองเท้าบูทที่ดี ช่วยกันน้ำได้ และต้องกันหนักด้วยนะ</h5>
       <h5>- ไอเท็มหน้าฝน ไม่ว่าจะเป็น ร่ม / หมวก / ชุดกันฝน ฯลฯ </h5>
    <hr>
    <h4><b>1.เสื้อผ้าโทนเข้ม</b></h4>
    <h5>ขอแนะนำให้เริ่มที่เสื้อผ้าโทนสีเข้ม โดยเฉพาะสีดำ สีกรมท่า สีน้ำตาล เพื่อที่ว่าเวลาเปียกฝนแล้วจะได้ไม่ดูวาบหวิวหรือว่าผ้าแนบเนื้อจนเกินไป ด้วยเหตุผลเดียวกันนี้ควรเลี่ยงเสื้อผ้าโทนสีเทาในการแต่งตัวหน้าฝน เพราะเวลาที่เสื้อผ้าสีเทาโดนน้ำแล้วจะเป็นคราบๆ หรือรอยเปียกให้เห็นชัดเจน อาจทำให้ลุคของเราดูกระดำกระด่างไม่น่ามองก็เป็นได้</h5>
    <img src="https://i.pinimg.com/564x/86/3d/6a/863d6a9e823668a2fcd848a44b6e8204.jpg" style="border-radius:20px;" width="20%" >
    <img src="https://i.pinimg.com/736x/ed/22/39/ed2239da06b1d4ccf2a71ff507b784b8.jpg" style="border-radius:20px;" width="20%" >
    <br>
    <br>
    <h4><b>2.เสื้อคลุมตัวนอก</b></h4>
    <h5>แม้จะไม่แนะนำให้ใส่เสื้อผ้าหน้าฝนที่มีสีอ่อนหรือสีสว่าง อย่างเช่น สีขาว สีครีม สีเหลือง หรือสีส้ม แต่ก็ใช่ว่าจะใส่ไม่ได้เลย เพราะถ้ามีเสื้อนอกติดไปด้วยแล้ว คุณก็จะสามารถมิกซ์แอนด์แมทช์การแต่งตัวได้หลากหลายมากขึ้น เสริมความเก๋ให้ตัวเองอีกระดับ ซึ่งก็ขอแนะนำให้เสื้อนอกเป็นผ้าหนาๆ เช่นแจ็กเกตหนัง เผื่อในตอนที่ฝนตกจะได้กันเสื้อด้านในไม่ให้เปียกมากจนเกินไป รวมถึงยังให้ความอบอุ่นจากลมฝนอีกด้วย</h5>
    <img src="https://cs.lnwfile.com/_/cs/_raw/8u/bj/m9.jpg" style="border-radius:20px;" width="20%" >
    <img src="https://i.pinimg.com/564x/60/a6/6c/60a66cfb3cd32005b5a80c86c83bd075.jpg" style="border-radius:20px;" width="15%" >
    <br>
    <br>
    <h4><b>3.กางเกงขาเต่อ/ขาลอย</b></h4>
    <h5>กางเกงทรงแบบนี้มีลักษณะที่สวมใส่สบายและระบายความร้อนหรือความชื้นได้ดี แถมถ้ามีน้ำท่วมขึ้นมาจริงๆ ก็ไม่ต้องหวั่นกลัวว่ากางเกงจะเปียก ลุยน้ำได้แบบชิลล์ๆ นอกจากนี้จะยิ่งสะดวกมากขึ้นหากเลือกใส่กางเกงที่มีน้ำหนักเบา เนื้อผ้าแห้งไว เพราะบางครั้งเมื่อเปียกฝนแล้วอาจจะทำให้รู้สึกหนักไม่สบายตัว</h5>
    <img src="https://i.pinimg.com/564x/60/d6/fb/60d6fb82487bf2475b6b2d893c9f65a0.jpg" style="border-radius:20px;" width="13%" >
    <img src="https://us-fbcloud.net/wb/data/1102/1102176-img.tabps2.0p.jpg" style="border-radius:20px;" width="30%" >
    <br>
    <br>
    <h4><b>4.รองเท้ากันน้ำ</b></h4>
    <h5>หากจะใส่รองเท้าแฟชันสวยๆ ก็กลัวน้ำกับโคลนกระเด็นมาใส่จนเป็นคราบดำไม่น่ามองเต็มไปหมด จึงควรเลือกรองเท้าที่สามารถกันน้ำได้อย่างพวกรองเท้าบูตยาง แต่หลายคนอาจจะรู้สึกว่ารองเท้าบูตนั้นดูไม่เหมาะกับสายแฟชัน ฉะนั้นอาจจะเลือกเป็นรองเท้าแตะที่ทำจากยางและสามารถกันน้ำได้</h5> 
    <img src="https://i.pinimg.com/564x/b5/0d/86/b50d86cfb5e1981b4c6f99bd870d3341.jpg" style="border-radius:20px;" width="15%" >
    <img src="https://i.pinimg.com/564x/52/19/00/521900521112e9118e42e543b83ac9e0.jpg" style="border-radius:20px;" width="12%" >
    <br>
    <br>
    <h4><b>5.กระเป๋ากันน้ำได้ก็สำคัญ</b></h4>
    <h5> อีกหนึ่งไอเทมที่ทุกคนควรมีไว้ติดตัวในช่วงหน้าฝนนี้ก็คือกระเป๋ากันน้ำนั้นเอง เพื่อป้องกันไม่ให้สิ่งของสำคัญของเราต้องเปียกน้ำ ซึ่งอาจจะเลือกกระเป๋าที่ทำจากผ้าไนลอน หนังแท้ หรือพลาสติก เป็นต้น ที่สำคัญควรเลือกกระเป๋าใบที่เป็นซิปที่เปิด-ปิดได้มิดชิด กันไม่ให้น้ำรั่วไหลเข้าไปด้านในนั่นเอง</h5>
    <img src="https://i.pinimg.com/564x/5d/bf/8f/5dbf8f57d1d9254f2c1313820360d04e.jpg" style="border-radius:20px;" width="13%" >
    <img src="https://i.pinimg.com/564x/5d/bf/8f/5dbf8f57d1d9254f2c1313820360d04e.jpg" style="border-radius:20px;" width="13%" >
</div>
    <hr>

<center><footer style="background-color: white;">
    <h5>ช่องทางติดต่อ admin</h5>
    <p>
        <a href="https://www.facebook.com/profile.php?id=100012146138076">Facebook</a>
        <a href="https://www.instagram.com/rrrra_wipat_/">Instragram</a>
    <p>
    <p>Copyright 2023 Clothguide. All right reserved.</p>
</footer></center>
</body>
</html>