<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA_Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Snowy | Clothguide</title>
    <style>
      body{
        font-family: 'Noto Sans Thai', sans-serif;
      }
    </style>
    <title>Clothguide</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Clothguide</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/cloths">Weater</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</header>
<div class="my-3 mx-3">
    <center><img src="https://cdn-icons-png.flaticon.com/128/100/100825.png" ></center>
    <br>
    <h2>ลมหนาว เศร้าสร้อย เหน็บหนาว ไร้คนกอด</h2>
    <h4>ลมผัดเย็นๆแบบนี้ จะแต่งตัวยังไงดีนะ?</h4>
    <hr>
    <h4><b>Tips :</b></h4>
       <h5>- เลือกเนื้อผ้าหนาหนา เพื่อให้ความอบอุ่น</h5>
       <h5>- ใส่เสื้อผ้าหลายชั้นแต่ต้องสร้างสรรค์เลเยอร์</h5>
       <h5>- ชุบชีวิตเสื้อโค้ทเก่า</h5>
       <h5>- เพิ่มความน่าสนใจด้วย "หมวกแฟชั่นหน้าหนาว"</h5>
    <hr>
    
    <h4><b>1.สเวตเตอร์ ไหมพรม และเสื้อคอเต่า</b></h4>
    <h5> ใครไม่ชอบใส่เสื้อหลายตัวให้ยุ่งยาก หรือกลัวว่ามันจะร้อนเกินไป เพราะหน้าหนาวของเมืองไทยก็ไม่ต่างอะไรกับหน้าร้อนเมืองนอก ดังนั้นเลือกเป็นเสื้อกันหนาวแบบสวม แล้วนำมาแมทช์กับกระโปรงหรือกางเกงเก๋ๆ เป็นอีกหนึ่งลุคที่แต่งออกมาแล้วก็ดูชิคได้เหมือนกัน
        เสื้อคอเต่าเรียกได้ว่าเป็นเสื้อที่เก๋มากๆ และหลายๆคนชอบฮิตใส่กันในช่วงหน้าหนาว พูดเลยว่าใครใส่เสื้อคอเต่าก็ดูดี
    </h5>
    <img src="https://i.pinimg.com/564x/70/82/26/708226cc4592bd29cd3cb81905979648.jpg" style="border-radius:20px;" width="15%" >
    <img src="https://i.pinimg.com/564x/2b/bd/36/2bbd3683e519278ca22788dc027739db.jpg" style="border-radius:20px;" width="20%" >
    <br>
    <br>
    <h4><b>2.เสื้อฮู้ด</b></h4>
    <h5>ลุคนี้แต่งออกมาแล้วจะได้ฟีลหนุ่มสาวเท่ดูคูล เมื่อเราเลือกสีและลายของเสื้อฮู้ดที่อยากใส่ได้แล้ว ก็อย่าลืมเลือกสีของกางเกงหรือกระโปรงท่อนล่างให้เป็นโทนเดียวกับเสื้อด้วยนะ หรือถ้าใครไม่รู้จะแมทช์ยังไง ก็สามารถแต่งขาว-ดำ คุมโทนไว้ก่อนได้ ลุคนี้แต่งแล้วยังไงก็รอด</h5>
    <img src="https://i.pinimg.com/564x/1b/7e/f7/1b7ef76f515008039aafb87c32efd4fe.jpg" style="border-radius:20px;" width="20%" >
    <img src="https://i.pinimg.com/564x/38/d9/89/38d989ed126e20d0ee0031fcaa7a48c2.jpg" style="border-radius:20px;" width="17%" >
    <br>
    <br>
    <h4><b>3.หมวกแฟชั่นหน้าหนาว</b></h4>
    <h5> ถ้าใครหาเสื้อกันหนาวไม่ทัน พวกพร็อพต่าง ๆ อย่างหมวกแฟชั่นหน้าหนาวก็สามารถนำมาแมตช์เป็นลุควินเทอร์เบา ๆ ได้ทันใจ จะเป็นบีนนี่ เบเร่ต์ หรือหมวกไหมพรม ก็เลือกได้ตามที่ชอบเลย</h5>
    <img src="https://i.pinimg.com/736x/1c/aa/45/1caa45adf09fba82e366b4a5be08a014.jpg" style="border-radius:20px;" width="16%" >
    <img src="https://i.pinimg.com/736x/aa/ce/bf/aacebf9fe0ca4e29617bf21224bdd4b0.jpg" style="border-radius:20px;" width="18%" >
    <br>
    <br>
    <h4><b>4.เสื้อโค้ท</b></h4>
    <h5> สายแฟตัวจริงต้องจัดเต็ม หนาวหรือไม่หนาวก็ขอปังไว้ก่อน ด้วยการใส่เสื้อโค้ทค่ะ ทั้งโค้ทตัวสั้นหรือตัวยาว ใส่แล้วก็เก๋หมด ได้ลุควินเทอร์ที่แท้ทรู</h5> 
        <img src="https://i.pinimg.com/564x/69/b8/fa/69b8fab82e75749bc3b03e8ba10d9f26.jpg" style="border-radius:20px;" width="21%" >
        <img src="https://i.pinimg.com/564x/1d/c2/37/1dc23740246acd82c9064309701f170a.jpg" style="border-radius:20px;" width="14%" >
    <br>
    <br>
    <h4><b>5.เสื้อเบลเซอร์</b></h4>
    <h5>ใครอยากได้ลุคชิคๆแบบไม่ต้องคิดเยอะ แนะนำให้ใส่เสื้อเบลเซอร์ เสื้อทรงนี้ใส่แล้วทุกคนคือจะดูดีหมด ดูเป็นแฟชั่นนิสต้าสุดๆ ซึ่งเสื้อเบลเซอร์ถือเป็นเสื้อที่สามารถนำออกมาใส่ได้ในหลายๆฤดูเลยก็ว่าได้ โดยทริคคือให้สาวๆเลือกสีเสื้อเบลเซอร์ที่อยากใส่ จากนั้นก็เลือกเสื้อตัวในให้เป็นสีโทนเดียวกัน หรือใครจะเลือกเป็นสีคู่ตรงข้ามก็ดูเข้ากัน</h5>
    <img src="https://i.pinimg.com/564x/1a/62/b7/1a62b7a8f937f7c6e54c0b206a8cb066.jpg" style="border-radius:20px;" width="21%" >
    <img src="https://i.pinimg.com/564x/aa/0c/04/aa0c04b0f11bda58ec9671e74ce92a38.jpg" style="border-radius:20px;" width="12%" >
</div>
    <hr>

<center><footer style="background-color: white;">
    <h5>ช่องทางติดต่อ admin</h5>
    <p>
        <a href="https://www.facebook.com/profile.php?id=100012146138076">Facebook</a>
        <a href="https://www.instagram.com/rrrra_wipat_/">Instragram</a>
    <p>
    <p>Copyright 2023 Clothguide. All right reserved.</p>
</footer></center>
</body>
</html>