<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA_Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Clothguide</title>
    <style>
      body{
        font-family: 'Noto Sans Thai', sans-serif;
      }
    </style>
    <title>Clothguide</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Clothguide</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/cloths">Weater</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</header>
<div class="hero">
  <style>
    body {
      background-image: url('https://t3.ftcdn.net/jpg/02/83/66/40/360_F_283664044_CQMWawRTVYbDUv8ussqKqGMRaic5VFbY.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      background-opacity: 0.6;
    }
    </style>
    <div class="fade-background">
    <center><div  style="background-color: white;">
        <h1>โค้ดไกด์</h1>
        <h2>สภาพอากาศที่ใช่ เสื้อผ้าที่ชอบ</h2></center>
    </div>
    <center><img src="https://cdn.pixabay.com/photo/2015/08/29/01/18/closet-912694_1280.jpg" style="border-radius:20px;" width="64%" ></center>
    <br>
<center><footer style="background-color: white;">
    <h5>ช่องทางติดต่อ admin</h5>
    <p>
        <a href="https://www.facebook.com/profile.php?id=100012146138076">Facebook</a>
        <a href="https://www.instagram.com/rrrra_wipat_/">Instragram</a>
    <p>
    <p>Copyright 2023 Clothguide. All right reserved.</p>
</footer></center>
</body>
</html>