<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA_Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Rainy | No Matter Weather</title>
    <style>
      body {
        font-family: "Itim", cursive;
      }
      .card-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap; 
        margin-top: 100px;
      }
      .card {
        width: 325px;
        background-color: white;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px;
        margin: 20px;
      }
      .card img {
        width: 100%;
        height: auto;
      }
      .card-content {
        padding: 16px;
      }
      .card-content h3 {
        margin-bottom: 8px; 
      }
      .card-content p {
        line-height: 1.3;
      }
    </style>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">No Matter Weather</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/cloths">Weather</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</header>

<div class="card-container">
    <div class="card">
        <img src="https://www.ktc.co.th/pub/media/Travel-Story/Thailand/travel-rainy-season/arawan.webp">
        <div class="card-content">
            <h3>น้ำตกเอราวัณ</h3>
            <p>น้ำตกเอาวัณมีทั้งหมด 7 ชั้น ระยะทางตั้งแต่ชั้นล่างจนถึงชั้นบนสุดทั้งหมด 1.5 กิโลเมตร เป็นน้ำตกที่มีน้ำตลอดปี นักท่องเที่ยวนิยมไปเล่นน้ำ นั่งปิกนิกและไปชมความสวยงามของธรรมชาติและสีฟ้าสีเขียวมรกตของน้ำตก ชั้นแรกๆของน้ำตกจะมีปลาค่อนข้างเยอะ ปลาชนิดนี้จะเป็น ปลาพลวง ซึ่งเป็นปลาในตระกุลปลาตะเพียน หากในวันหยุดสุดสัปดาห์ใครกำลังมองหาที่ที่เที่ยวหน้าฝน ไปง่ายๆใกล้กรุงเทพฯ และได้สัมผัสบรรรยากาศของธรรมชาตอย่างเต็มที่ก็แนะนำที่นี่เลย</p>
            <p>ที่อยู่ : ตำบล ท่ากระดาน อำเภอศรีสวัสดิ์ กาญจนบุรี 71250</p>
            <a href="https://goo.gl/maps/Cx4EtJv3GQ7Q4MgQ9">Map</a>
        </div>
    </div>
    <div class="card">
        <img src="https://www.ktc.co.th/pub/media/Travel-Story/Thailand/travel-rainy-season/Doi-Hua-Mod-1.webp">
        <div class="card-content">
            <h3>อุ้มผาง</h3>
            <p>อุ้งผาง อำเภอที่อุดมสมบูรณ์ไปด้วยธรรมชาติและมีแหล่งท่องเที่ยวที่เหมาะจะเที่ยวในช่วงหน้าฝนหลายที่ทั้ง น้ำตกทีลอซู ดอยหัวหมด น้ำตกทีลอจ่อ น้ำตกปิตุ๊โกร ดอยมะม่วงสามหมื่น และอีกมากมาย เรียกได้ว่า ได้เที่ยวชมธรรมชาติอย่างจุใจแน่นอนหากมาเที่ยวที่อำเภอนี้</p>
            <p>ที่อยู่ : อำเภออุ้งผาง จังหวัดตาก</p>
            <a href="https://goo.gl/maps/qRYJ5RDoRtw1p94f8">Map</a>
        </div>
    </div>
    <div class="card">
        <img src="https://www.ktc.co.th/pub/media/Travel-Story/Thailand/travel-rainy-season/pai-1.webp">
        <div class="card-content">
            <h3>ปาย</h3>
            <p>สถานที่ยอดฮิตตลอดกาลไม่ว่าจะฤดูกาลไหนคือ ปาย สถานที่ท่องเที่ยวของปายก็มีหลากหลายจุดทั้ง จุดชมวิวทะเลหมอกหยุนไหล น้ำพุร้อนไทรงาม ที่ถือเป็น unseen ของปายเลยก็ว่าได้ หรือสายบุญก็สามารถไปไหว้พระทำบุญที่ วัดน้ำฮู หรือจะไปถ่ายรูปเช็คอินที่ สะพานประวัติศาสตร์ปาย ชมแกะที่ Romance Farm จะท่องเที่ยวสไตล์ไหน ก็เลือกได้ตามสไตล์ หรือที่พักในปายก็มีให้เลือกหลากหลายเช่นกัน</p>
            <p>ที่อยู่ : ตำบลแม่สูน อำเภอฝาง เชียงใหม่ 50320</p>
            <a href="https://goo.gl/maps/WW3Bs8igeaXK3r4S6">Map</a>
        </div>
    </div>
    <div class="card">
        <img src="https://www.ktc.co.th/pub/media/Travel-Story/Thailand/travel-rainy-season/hub-pha-tad.webp">
        <div class="card-content">
            <h3>หุบป่าตาด</h3>
            <p>อีกหนึ่งสถานที่ยอดฮิตของจังหวัดอุทัยธานี ที่เมื่อได้ไปเที่ยวแล้วเหมือนหลุดเข้าไปในยุคจูราสิค หุบป่าตาดให้ความรู้สึกมีไดโนเสาร์อยู่ในนั้น ข้างในเป็นถ้ำเป็นหิน อากาศเย็นสบาย สามารถมาเที่ยวได้ตลอดทั้งปี แต่ในช่วงหน้าฝนต้นไม้ข้างในจะอุดมสมบูรณ์กว่าฤดูอื่นๆ นักท่องเที่ยวคนใดต้องการข้อมูลเกี่ยวกับถ้ำก็สามารถจ้างมัคคุเทศก์ด้านหน้าได้ ส่วนมากมัคคุเทศก์จะเป็นเด็กนักเรียน ที่มาหารายได้ในวันหยุด</p>
            <p>ที่อยู่ : ตำบล ทุ่งนางาม อำเภอลานสัก อุทัยธานี 61160</p>
            <a href="https://goo.gl/maps/3paicyJJZF3F13LG7">Map</a>
        </div>
    </div>
    <div class="card">
        <img src="https://www.ktc.co.th/pub/media/Travel-Story/Thailand/travel-rainy-season/phu-lunkga.webp">
        <div class="card-content">
            <h3>ภูลังกา</h3>
            <p>อีกหนึ่งที่เที่ยวหน้าฝนที่ควรต้องไปสักครั้งคือ ภูลังกา ไปพักผ่อนท่ามกลางธรรมชาติที่โอบล้อม ที่เที่ยวที่ภูลังกาก็มีหลายจุดให้ได้เช็คอินทั้งคาเฟ่ชิคๆอย่าง มิสเตอร์แฮนด์ซัม เมจิค เมาน์เทน คาเฟ่ และที่พักก็มีให้เลือกหลากหลายสไตล์ตามความชอบ ที่พักแต่ละที่ก็จะมีวิวให้ได้ชมอย่างสวยสดงดงาม เหมาะกับการไปนอนฟังเสียงฝนพร้อมตื่นมาชมวิวยามเช้า</p>
            <p>ที่อยู่ : ตำบลโพธิ์หมากแข้ง อำเภอบึงโขงหลง บึงกาฬ 38220</p>
            <a href="https://goo.gl/maps/ohS87drZN1AaSovs5">Map</a>
        </div>
    </div>
</div>

<center>
    <footer style="background-color: rgba(33,37,41,255); padding: 10px; text-align: center;">
        <h5 style="color:White">ช่องทางติดต่อ admin</h5>
        <p>
            <a href="https://www.facebook.com/profile.php?id=100012146138076" style="color: white;">Facebook</a> |
            <a href="https://www.instagram.com/rrrra_wipat_/" style="color: white;">Instagram</a>
        <p>
        <p style="color:White">Copyright 2024 No Matter Weather. All right reserved.</p>
    </footer>
</center>

</body>
</html>
