<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA_Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Summer | No Matter Weather</title>
    <style>
      body{
        font-family: "Itim", cursive;
      }
    </style>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Clothguide</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/cloths">Weater</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</header>
<div class="my-3 mx-3">
    <center><img src="https://cdn-icons-png.flaticon.com/128/66/66275.png" ></center>
    <br>
    <h2>ฟ้าแจ่มใส แดดออก แดดแรง ไม่เกรงใจใคร</h2>
    <h4>อากาศร้อนๆแบบนี้ จะแต่งตัวยังไงดีนะ?</h4>
    <hr>
    <h4><b>Tips :</b></h4>
       <h5>- เลือกเนื้อผ้าที่ไม่หนามาก สามารถระบายอากาศ ระบายเหงื่อได้ดี</h5>
       <h5>- เลี่ยงเสื้อผ้าโทนสีดำ เน้นใส่สีสดใส เพราะสีดำเป็นสีที่ดูดแสงทำให้อุณหภูมิสูงขึ้น</h5>
       <h5>- สวมเสื้อคลุม หรือใส่หมวกสักใบเวลาออกแดด เพื่อป้องกันรังสียูวีและรักษาสุขภาพผิวไม่ให้รู้สึกแสบร้อน</h5>
       <h5>- ทาครีมกันแดดช่วยป้องกันยูวี เลือกครีมที่ไม่เหนียวเหนอะหนะ กันน้ำด้วยจะดีมาก</h5>
    <hr>
    
    <h4><b>1.เสื้อเชิ้ตแขนยาว กางเกงขายาว</b></h4>
    <h5>เสื้อเชิ้ตแขนยาว ไอเท็มสุดคลาสสิคที่ให้ลุคสุภาพเรียบร้อย แต่เก๋มีสไตล์ แม้จะเป็นหน้าร้อนก็สามารถหยิบมาสวมใส่ได้อย่างลงตัวกับกางเกงขายาว ลุคนี้เหมาะทั้งผู้ชายและผู้หญิง ยิ่งถ้าได้รองเท้าผ้าใบสักคู่มาแมทช์รับรองว่าดูดีไม่เบาเลย</h5>
    <img src="https://obs.line-scdn.net/0hxQgPMdqMJ35aKQvUyw1YKWN_JBFpRTR9Ph92fQZHeUonSzUgNElqEHkgK0xxGGAgM09gGnlseEd2ETIqYU0/w644" style="border-radius:20px;" width="16%" >
    <img src="https://i.pinimg.com/564x/69/dd/87/69dd876f86c74d89fdaddd4e62bfa0c4.jpg" style="border-radius:20px;" width="20%" >
    <br>
    <br>
    <h4><b>2.เสื้อยืด เสื้อคลุม กางเกงขาสั้น</b></h4>
    <h5>เบสิคลุคมากๆ สำหรับหน้าร้อนกับเสื้อยืดกางเกงขาสั้น เพราะเป็นชุดที่ทุกคนจะต้องมีติดตู้เสื้อผ้าไว้อยู่แล้ว แต่ขอแนะนำอีกนิดว่า ให้เลือกเสื้อคลุมสักตัว หรือหมวกสักใบมาใส่คู่กัน จะทำให้ดูเท่ไปอีกแบบ แถมยังได้ปกป้องผิวจากแสงแดดในระดับนึงด้วย ทั้งลุคนี้ก็สามารถแต่งตามกันได้ทั้งชายและหญิงนะ</h5>
    <img src="https://image.makewebeasy.net/makeweb/m_1920x0/5F36Cac0E/BP001/DD20ED3F_E2B8_48C0_8744_940051A578F7.jpg?v=202012190947" style="border-radius:20px;" width="20%" >
    <img src="https://s.isanook.com/wo/0/ui/33/167301/f28.jpg" style="border-radius:20px;" width="16%" >
    <br>
    <br>
    <h4><b>3.เสื้อยืด กางเกงยีนส์</b></h4>
    <h5>เสื้อยืดกับกางเกงยีนส์ขายาว แทบจะเป็นเอฟวีเดย์ลุคของทุกคนไปแล้ว ซึ่งลุคพื้นฐานแบบนี้แน่นอนว่าแต่งตามกันได้ทั้งผู้ชายและผู้หญิง เพราะการนำเสื้อยืดกับยีนส์ตัวโปรดมาใส่คู่กัน นอกจากจะสะดวกสบายแล้วยังให้ความรู้สึกทะมัดทะแมงอีกด้วย บวกกับถ้าลองเลือกรองเท้าชิคๆ สักคู่มาแมทช์ล่ะก็รับรองว่าโดดเด่นได้ในลุคง่ายๆ แบบนี้เลย</h5>
    <img src="https://www.ladyissue.com/wp-content/uploads/2020/08/mjws1.jpg" style="border-radius:20px;" width="20%" >
    <img src="https://i.pinimg.com/564x/90/0f/cb/900fcba3517a5182440d9dd727a00e17.jpg" style="border-radius:20px;" width="11%" >
    <br>
    <br>
    <h4><b>4.เสื้อแขนสั้น กางเกง 5 ส่วน</b></h4>
    <h5>ต้องขอบอกไว้ก่อนว่าเซ็ตนี้เอาใจผู้หญิงโดยเฉพาะ สำหรับเสื้อแขนสั้น ไม่ว่าจะเป็นเสื้อยืด หรือเสื้อแขนกุด กับกางเกง 5 ส่วนที่ให้ลุควินเทจ แต่หาซื้อมาสวมใส่ได้ง่าย แถมยังระบายอากาศได้ดี ทั้งสามารถมิกซ์แอนด์แมทช์กับเครื่องประดับอื่นๆ ได้อย่างลงตัว</h5> 
        <img src="https://img.salehere.co.th/p/1200x0/2021/10/18/1hol35fo4vki.jpg" style="border-radius:20px;" width="17.5%" >
        <img src="https://files.vogue.co.th/uploads/Mens_Pants_cover.jpg" style="border-radius:20px;" width="30%" >
    <br>
    <br>
    <h4><b>5.เสื้อกล้าม เสื้อคลุม กางเกงขาสั้น</b></h4>
    <h5>สายชิลล์ไม่ควรพลาดกับลุคนี้ เสื้อกล้าม กางเกงขาสั้น บวกเสื้อคลุม ที่เหมาะกับหน้าร้อนในบ้านเราที่สุดแล้ว แต่ขอนิดนึงสำหรับเสื้อกล้ามหรือเสื้อสายเดี่ยวของสาวๆ ว่าไม่โป๊มากนะแค่กำลังดูน่ารักก็พอเน้อ และถ้าใครอยากจะหยิบหมวกคู่ใจมาแมทช์กับชุดนี้ก็บอกได้เลยว่าปังแน่นอน</h5>
    <img src="https://images.shopspotter.in.th/wp-content/uploads/2019/04/07234607/c07.jpg" style="border-radius:20px;" width="30%" >
</div>
    <hr>

<center><footer style="background-color: rgba(33,37,41,255); padding: 10px; text-align: center;">
      <h5 style="color:White">ช่องทางติดต่อ admin</h5>
      <p>
          <a href="https://www.facebook.com/profile.php?id=100012146138076" style="color: white;">Facebook</a> |
          <a href="https://www.instagram.com/rrrra_wipat_/" style="color: white;">Instragram</a>
      <p>
      <p style="color:White">Copyright 2024 No Matter Weather. All right reserved.</p>
</footer>
</body>
</html>