<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA_Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>No Matter Weather</title>
    <style>
      body{
        font-family: "Itim", cursive;
      }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">No Matter Weather</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/cloths">Weather</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>
    <style>
      body {
        background-color: LightGrey;
      }
      </style>
      <br>
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <div class="card h-100" style="box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;">
              <img src="https://www.gourmetandcuisine.com/Images/editor_upload/_editor20210420031208_original.jpg" class="card-img-top img-fluid" style="object-fit: cover; height: 200px;">
              <div class="card-body">
                <h4 class="card-title">ฟ้าแจ่มใส แดดออก แดดแรง ไม่เกรงใจใคร</h4>
                <h6 class="card-text">อากาศร้อนๆแบบนี้ จะกินอะไรดีนะ?</h6>
                <a href="/food/summerfood" class="btn btn-success w-100" style="background-color:rgba(228,113,90,255); border-color:rgba(228,113,90,255); color:black">อาหาร</a>
              </div>
            </div>
          </div>
      
          <div class="col">
            <div class="card h-100" style="box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;">
              <img src="https://i.pinimg.com/enabled/564x/f2/a3/35/f2a33567a6a064b5a4a53e3adf8fed9c.jpg" class="card-img-top img-fluid" style="object-fit: cover; height: 200px;">
              <div class="card-body">
                <h4 class="card-title">ฟ้าแจ่มใส แดดออก แดดแรง ไม่เกรงใจใคร</h4>
                <h6 class="card-text">ฟ้าฝนไม่เป็นใจแบบนี้ จะแต่งตัวยังไงดีนะ?</h6>
                <a href="/season/sunny" class="btn btn-success w-100" style="background-color:rgba(228,113,90,255); border-color:rgba(228,113,90,255); color:black">การแต่งตัว</a>
              </div>
            </div>
          </div>
      
          <div class="col">
            <div class="card h-100" style="box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;">
              <img src="https://cdn.pixabay.com/photo/2018/08/16/08/39/hallstatt-3609863_1280.jpg" class="card-img-top img-fluid" style="object-fit: cover; height: 200px;">
              <div class="card-body">
                <h4 class="card-title">ฟ้าแจ่มใส แดดออก แดดแรง ไม่เกรงใจใคร</h4>
                <h6 class="card-text">อากาศร้อนๆแบบนี้ จะไปเที่ยวไหนดีนะ?</h6>
                <a href="/travel/summertravel" class="btn btn-success w-100" style="background-color:rgba(228,113,90,255); border-color:rgba(228,113,90,255); color:black">สถานที่ท่องเที่ยว</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>

      <!-- แถวสอง -->

      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <div class="card h-100" style="box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;">
              <img src="https://www.southernliving.com/thmb/Qy1wuIjrJM3F3NN7OmmLhA8bFp0=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/Ravioli_Lasagna_115-2000-27874b8ebf9040c8ac88bd1de8470ddd.jpg" class="card-img-top img-fluid" style="object-fit: cover; height: 200px;">
              <div class="card-body">
                <h4 class="card-title">ฟ้าครึ้ม มืดมน มืดดำ เหงาหงอย</h4>
                <h6 class="card-text">ฟ้าฝนไม่เป็นใจแบบนี้ จะกินอะไรดีนะ?</h6>
                <a href="/food/rainfood" class="btn btn-success w-100"  style="background-color:rgb(55,86,115); border-color:rgb(55,86,115); color:white">อาหาร</a>
              </div>
            </div>
          </div>
      
          <div class="col">
            <div class="card h-100" style="box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;">
              <img src="https://i.pinimg.com/enabled/564x/8b/a9/b9/8ba9b96e8fc1a9e94565dfcb23f0f386.jpg" class="card-img-top img-fluid" style="object-fit: cover; height: 200px;">
              <div class="card-body">
                <h4 class="card-title">ฟ้าครึ้ม มืดมน มืดดำ เหงาหงอย</h4>
                <h6 class="card-text">ฟ้าฝนไม่เป็นใจแบบนี้ จะแต่งตัวยังไงดีนะ?</h6>
                <a href="/season/rainy" class="btn btn-success w-100"  style="background-color:rgb(55,86,115); border-color:rgb(55,86,115); color:white">การแต่งตัว</a>
              </div>
            </div>
          </div>
      
          <div class="col">
            <div class="card h-100" style="box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;">
              <img src="https://cdn.pixabay.com/photo/2020/05/20/18/57/city-5197809_1280.jpg" class="card-img-top img-fluid" style="object-fit: cover; height: 200px;">
              <div class="card-body">
                <h4 class="card-title">ฟ้าครึ้ม มืดมน มืดดำ เหงาหงอย</h4>
                <h6 class="card-text">ฟ้าฝนไม่เป็นใจแบบนี้ จะไปเที่ยวไหนดีนะ?</h6>
                <a href="/travel/raintravel" class="btn btn-success w-100"  style="background-color:rgb(55,86,115); border-color:rgb(55,86,115); color:white">สถานที่ท่องเที่ยว</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      
      <!-- แถวสาม -->

      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <div class="card h-100" style="box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;">
              <img src="https://i.pinimg.com/enabled/564x/71/cd/47/71cd477816ef506f9dfa9e73b8504b9a.jpg" class="card-img-top img-fluid" style="object-fit: cover; height: 200px;">
              <div class="card-body">
                <h4 class="card-title">ลมหนาว เศร้าสร้อย เหน็บหนาว ไร้คนกอด</h4>
                <h6 class="card-text">ลมผัดเย็นๆแบบนี้ จะแต่งตัวยังไงดีนะ?</h6>
                <a href="/food/winterfood" class="btn btn-success w-100" style="background-color:rgba(234,234,234,255); border-color:rgba(234,234,234,255); color:black">อาหาร</a>
              </div>
            </div>
          </div>
      
          <div class="col">
            <div class="card h-100" style="box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;">
              <img src="https://i.pinimg.com/736x/ad/10/57/ad1057832b0318caf00db5f6745b9c44.jpg" class="card-img-top img-fluid" style="object-fit: cover; height: 200px;">
              <div class="card-body">
                <h4 class="card-title">ลมหนาว เศร้าสร้อย เหน็บหนาว ไร้คนกอด</h4>
                <h6 class="card-text">ลมผัดเย็นๆแบบนี้ จะแต่งตัวยังไงดีนะ?</h6>
                <a href="/season/rainy" class="btn btn-success w-100" style="background-color:rgba(234,234,234,255); border-color:rgba(234,234,234,255); color:black">การแต่งตัว</a>
              </div>
            </div>
          </div>
      
          <div class="col">
            <div class="card h-100" style="box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;">
              <img src="https://media.istockphoto.com/id/144809663/th/%E0%B8%A3%E0%B8%B9%E0%B8%9B%E0%B8%96%E0%B9%88%E0%B8%B2%E0%B8%A2/%E0%B8%84%E0%B8%B7%E0%B8%99%E0%B8%84%E0%B8%A3%E0%B8%B4%E0%B8%AA%E0%B8%95%E0%B9%8C%E0%B8%A1%E0%B8%B2%E0%B8%AA%E0%B9%83%E0%B8%99%E0%B8%84%E0%B8%A7%E0%B8%B4%E0%B9%80%E0%B8%9A%E0%B8%81%E0%B8%8B%E0%B8%B4%E0%B8%95%E0%B8%B5.jpg?s=612x612&w=0&k=20&c=SPtVKLio53hfagETwB6PUQwBgsDcs2uupuuMhhgSOMc=" class="card-img-top img-fluid" style="object-fit: cover; height: 200px;">
              <div class="card-body">
                <h4 class="card-title">ลมหนาว เศร้าสร้อย เหน็บหนาว ไร้คนกอด</h4>
                <h6 class="card-text">ลมผัดเย็นๆแบบนี้ จะแต่งตัวยังไงดีนะ?</h6>
                <a href="/travel/wintertravel" class="btn btn-success w-100" style="background-color:rgba(234,234,234,255); border-color:rgba(234,234,234,255); color:black">สถานที่ท่องเที่ยว</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>   

  <center><footer style="background-color: rgba(33,37,41,255); padding: 10px; text-align: center;">
      <h5 style="color:White">ช่องทางติดต่อ admin</h5>
      <p>
          <a href="https://www.facebook.com/profile.php?id=100012146138076" style="color: white;">Facebook</a> |
          <a href="https://www.instagram.com/rrrra_wipat_/" style="color: white;">Instragram</a>
      <p>
      <p style="color:White">Copyright 2024 No Matter Weather. All right reserved.</p>
  </footer>
</body>
</html>